### Correlation between news and stock Price

##### Import the necessary libraries

In [91]:
import os
import sys
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [92]:
sys.path.insert(0, os.path.dirname(os.getcwd()))

from scripts.correlations import CorrelationAnalyzer

##### Load and merg the dataset

In [93]:
folder_path='../data/yfinance_data/'

In [94]:
c_analyser = CorrelationAnalyzer(folder_path=folder_path)

In [95]:
stock_data=c_analyser.merge_csv_files(folder_path)
news_data=pd.read_csv('../data/Sentiment.csv')

In [96]:
news_data

,date,headline,url,publisher,stock,cleaned_headline,polarity,sentiment
0,2020-06-05 10:30:54-04:00,Stocks That Hit 52-Week Highs On Friday,https://www.benzinga.com/news/20/06/16190091/s...,Benzinga Insights,A,stocks hit week highs friday,0.00,Neutral
1,2020-06-03 10:45:20-04:00,Stocks That Hit 52-Week Highs On Wednesday,https://www.benzinga.com/news/20/06/16170189/s...,Benzinga Insights,A,stocks hit week highs wednesday,0.00,Neutral
2,2020-05-26 04:30:07-04:00,71 Biggest Movers From Friday,https://www.benzinga.com/news/20/05/16103463/7...,Lisa Levin,A,biggest movers friday,0.00,Neutral
3,2020-05-22 12:45:06-04:00,46 Stocks Moving In Friday's Mid-Day Session,https://www.benzinga.com/news/20/05/16095921/4...,Lisa Levin,A,stocks moving fridays midday session,0.00,Neutral
4,2020-05-22 11:38:59-04:00,B of A Securities Maintains Neutral on Agilent...,https://www.benzinga.com/news/20/05/16095304/b...,Vick Meyer,A,b securities maintains neutral agilent technol...,0.00,Neutral
...,...,...,...,...,...,...,...,...
1407323,2011-08-29 00:00:00-04:00,Top Narrow Based Indexes For August 29,https://www.benzinga.com/news/11/08/1888782/to...,Monica Gerson,ZX,top narrow based indexes august,0.15,positive
1407324,2011-06-22 00:00:00-04:00,Recap: Wednesday's Top Percentage Gainers and ...,https://www.benzinga.com/news/earnings/11/06/1...,Benjamin Lee,ZX,recap wednesdays top percentage gainers losers,0.15,positive
1407325,2011-06-21 00:00:00-04:00,UPDATE: Oppenheimer Color on China Zenix Auto ...,https://www.benzinga.com/analyst-ratings/analy...,BenzingaStaffL,ZX,update oppenheimer color china zenix auto init...,0.00,Neutral
1407326,2011-06-21 00:00:00-04:00,Oppenheimer Initiates China Zenix At Outperfor...,https://www.benzinga.com/analyst-ratings/price...,Joe Young,ZX,oppenheimer initiates china zenix outperform pt,0.00,Neutral
1407327,2011-05-12 00:00:00-04:00,China Zenix Auto International Opens For Tradi...,https://www.benzinga.com/news/ipos/11/05/10789...,Allie Wickman,ZX,china zenix auto international opens trading i...,0.00,Neutral

In [97]:
stock_data

,Date,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits,stock_symbol
0,1980-12-12,0.128348,0.128906,0.128348,0.128348,0.098943,469033600,0.0,0.0,AAPL
1,1980-12-15,0.122210,0.122210,0.121652,0.121652,0.093781,175884800,0.0,0.0,AAPL
2,1980-12-16,0.113281,0.113281,0.112723,0.112723,0.086898,105728000,0.0,0.0,AAPL
3,1980-12-17,0.115513,0.116071,0.115513,0.115513,0.089049,86441600,0.0,0.0,AAPL
4,1980-12-18,0.118862,0.119420,0.118862,0.118862,0.091630,73449600,0.0,0.0,AAPL
...,...,...,...,...,...,...,...,...,...,...
45423,2024-07-24,225.419998,225.990005,214.710007,215.990005,215.990005,167942900,0.0,0.0,TSLA
45424,2024-07-25,216.800003,226.000000,216.229996,220.250000,220.250000,100636500,0.0,0.0,TSLA
45425,2024-07-26,221.190002,222.279999,215.330002,219.800003,219.800003,94604100,0.0,0.0,TSLA
45426,2024-07-29,224.899994,234.270004,224.699997,232.100006,232.100006,129201800,0.0,0.0,TSLA
45427,2024-07-30,232.250000,232.410004,220.000000,222.619995,222.619995,100560300,0.0,0.0,TSLA

In [98]:
# Convert the 'date' column to datetime format and UTC-4 timezone
stock_data['Date'] = pd.to_datetime(stock_data['Date'], format='ISO8601', utc=True)
news_data['date']=pd.to_datetime(news_data['date'], format='ISO8601', utc=True)

In [99]:
print("Minimum date from news dataset:  ",news_data.date.min())
print("Maximum date from news dataset:  ",news_data.date.max())
print("Minimum date from Stock dataset:  ",stock_data.Date.min())
print("Max date from Stock dataset:  ",stock_data.Date.max())

Minimum date from news dataset:   2009-02-14 04:00:00+00:00
Maximum date from news dataset:   2020-06-11 21:12:35+00:00
Minimum date from Stock dataset:   1980-12-12 00:00:00+00:00
Max date from Stock dataset:   2024-07-30 00:00:00+00:00

In [100]:
news_data.columns

Index(['date', 'headline', 'url', 'publisher', 'stock', 'cleaned_headline',
       'polarity', 'sentiment'],
      dtype='object')

In [101]:
for column in ['headline', 'url', 'publisher']:
    news_data.drop(column, axis=1, inplace=True)

In [102]:
news_data

,date,stock,cleaned_headline,polarity,sentiment
0,2020-06-05 14:30:54+00:00,A,stocks hit week highs friday,0.00,Neutral
1,2020-06-03 14:45:20+00:00,A,stocks hit week highs wednesday,0.00,Neutral
2,2020-05-26 08:30:07+00:00,A,biggest movers friday,0.00,Neutral
3,2020-05-22 16:45:06+00:00,A,stocks moving fridays midday session,0.00,Neutral
4,2020-05-22 15:38:59+00:00,A,b securities maintains neutral agilent technol...,0.00,Neutral
...,...,...,...,...,...
1407323,2011-08-29 04:00:00+00:00,ZX,top narrow based indexes august,0.15,positive
1407324,2011-06-22 04:00:00+00:00,ZX,recap wednesdays top percentage gainers losers,0.15,positive
1407325,2011-06-21 04:00:00+00:00,ZX,update oppenheimer color china zenix auto init...,0.00,Neutral
1407326,2011-06-21 04:00:00+00:00,ZX,oppenheimer initiates china zenix outperform pt,0.00,Neutral
1407327,2011-05-12 04:00:00+00:00,ZX,china zenix auto international opens trading i...,0.00,Neutral

In [103]:
news_data.isnull().sum()

date                0
stock               0
cleaned_headline    9
polarity            0
sentiment           0
dtype: int64

In [104]:
news_data.dropna(axis=0, inplace=True)

In [105]:
news_data.shape

(1407319, 5)

In [106]:
stock_data.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits,stock_symbol
0,1980-12-12 00:00:00+00:00,0.128348,0.128906,0.128348,0.128348,0.098943,469033600,0.0,0.0,AAPL
1,1980-12-15 00:00:00+00:00,0.122210,0.122210,0.121652,0.121652,0.093781,175884800,0.0,0.0,AAPL
2,1980-12-16 00:00:00+00:00,0.113281,0.113281,0.112723,0.112723,0.086898,105728000,0.0,0.0,AAPL
3,1980-12-17 00:00:00+00:00,0.115513,0.116071,0.115513,0.115513,0.089049,86441600,0.0,0.0,AAPL
4,1980-12-18 00:00:00+00:00,0.118862,0.119420,0.118862,0.118862,0.091630,73449600,0.0,0.0,AAPL

In [107]:
stock_data.isnull().sum()

Date            0
Open            0
High            0
Low             0
Close           0
Adj Close       0
Volume          0
Dividends       0
Stock Splits    0
stock_symbol    0
dtype: int64

In [108]:
# Rename 'date' into 'Date' from news_data to make consistent
# c_analyser.rename_column('date','Data')
news_data.rename(columns={'date': 'Date'}, inplace=True)

In [109]:
# Extract dates from news and stock price datasets
news_dates = news_data['Date']
stock_dates = stock_data['Date']

In [110]:
# Normalize timestamps
news_dates = pd.to_datetime(news_dates).dt.date
stock_dates = pd.to_datetime(stock_dates).dt.date

In [111]:
# Find overlaping date range
import pandas as pd
import pandas as pd
start_date=max(news_dates.min(), stock_dates.min())
end_date=min(news_dates.max(), stock_dates.max())
news_data['Date']=pd.to_datetime(news_data['Date']).dt.date
stock_data['Date']=pd.to_datetime(stock_data['Date']).dt.date

In [112]:
# Filter the data based on the specified date range
news_data=news_data[(news_data['Date']>=start_date) &  (news_data['Date']<=end_date)]
stock_data=stock_data[(stock_data['Date']>=start_date) & (stock_data['Date']<=end_date)]

In [113]:
merged_data=pd.merge(news_data,stock_data, on='Date')

In [122]:
merged_data

,Date,stock,cleaned_headline,polarity,sentiment,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits,stock_symbol
0,2020-06-05,A,stocks hit week highs friday,0.0,Neutral,80.837502,82.937500,80.807503,82.875000,80.843407,137250400,0.0,0.0,AAPL
1,2020-06-05,A,stocks hit week highs friday,0.0,Neutral,122.225502,124.432503,121.856499,124.150002,124.150002,66128000,0.0,0.0,AMZN
2,2020-06-05,A,stocks hit week highs friday,0.0,Neutral,70.658501,72.252502,70.300003,71.919502,71.837753,34698000,0.0,0.0,GOOG
3,2020-06-05,A,stocks hit week highs friday,0.0,Neutral,226.710007,231.350006,225.309998,230.770004,230.296753,16750400,0.0,0.0,META
4,2020-06-05,A,stocks hit week highs friday,0.0,Neutral,182.619995,187.729996,182.009995,187.199997,180.403564,39893600,0.0,0.0,MSFT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9287882,2011-05-12,ZX,china zenix auto international opens trading i...,0.0,Neutral,10.211000,10.309500,10.031000,10.303500,10.303500,96000000,0.0,0.0,AMZN
9287883,2011-05-12,ZX,china zenix auto international opens trading i...,0.0,Neutral,13.331032,13.373373,13.223186,13.326300,13.311152,58149143,0.0,0.0,GOOG
9287884,2011-05-12,ZX,china zenix auto international opens trading i...,0.0,Neutral,25.350000,25.389999,25.100000,25.320000,19.613352,77400000,0.0,0.0,MSFT
9287885,2011-05-12,ZX,china zenix auto international opens trading i...,0.0,Neutral,0.495000,0.513000,0.493750,0.512500,0.470079,1224000000,0.0,0.0,NVDA
9287886,2011-05-12,ZX,china zenix auto international opens trading i...,0.0,Neutral,1.804667,1.849333,1.776667,1.844667,1.844667,9420000,0.0,0.0,TSLA

In [123]:
# Keep only the rows where 'stock' is equal to 'stock_symbol'
filtered_data=merged_data[merged_data['stock']==merged_data['stock_symbol']]
filtered_data

,Date,stock,cleaned_headline,polarity,sentiment,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits,stock_symbol
42435,2020-06-10,AAPL,tech stocks faangs strong start day market awa...,0.433333,positive,86.974998,88.692497,86.522499,88.209999,86.047615,166651600,0.0,0.0,AAPL
42442,2020-06-10,AAPL,biggest price target changes wednesday,0.000000,Neutral,86.974998,88.692497,86.522499,88.209999,86.047615,166651600,0.0,0.0,AAPL
42449,2020-06-10,AAPL,benzinga pros top stocks watch wed jun aapl ba...,0.500000,positive,86.974998,88.692497,86.522499,88.209999,86.047615,166651600,0.0,0.0,AAPL
42456,2020-06-10,AAPL,deutsche bank maintains buy apple raises price...,0.000000,Neutral,86.974998,88.692497,86.522499,88.209999,86.047615,166651600,0.0,0.0,AAPL
42463,2020-06-10,AAPL,apple let users trade mac computers credit us ...,0.000000,Neutral,86.974998,88.692497,86.522499,88.209999,86.047615,166651600,0.0,0.0,AAPL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8294845,2019-07-02,TSLA,electrekco tweet teslas head europe,0.000000,Neutral,15.259333,15.276667,14.814667,14.970000,14.970000,138885000,0.0,0.0,TSLA
8294852,2019-07-01,TSLA,teslas q delivery number could cause big move,0.000000,Neutral,15.347333,15.540000,15.085333,15.144667,15.144667,123201000,0.0,0.0,TSLA
8294859,2019-07-01,TSLA,tesla electric airplane elon musk sees electri...,0.000000,Neutral,15.347333,15.540000,15.085333,15.144667,15.144667,123201000,0.0,0.0,TSLA
8294866,2019-07-01,TSLA,update jmp reiterates outperform target tesla ...,0.066667,positive,15.347333,15.540000,15.085333,15.144667,15.144667,123201000,0.0,0.0,TSLA
8294873,2019-07-01,TSLA,tesla shares trading higher jmp securities rei...,0.250000,positive,15.347333,15.540000,15.085333,15.144667,15.144667,123201000,0.0,0.0,TSLA

In [124]:
# Drop column 'stock_symbol' from the dataframe filterd
filtered_data=filtered_data.drop(columns=['stock_symbol'])

In [125]:
filtered_data.rename(columns={'stock':'Ticker_symbol'}, inplace=True)
filtered_data

,Date,Ticker_symbol,cleaned_headline,polarity,sentiment,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
42435,2020-06-10,AAPL,tech stocks faangs strong start day market awa...,0.433333,positive,86.974998,88.692497,86.522499,88.209999,86.047615,166651600,0.0,0.0
42442,2020-06-10,AAPL,biggest price target changes wednesday,0.000000,Neutral,86.974998,88.692497,86.522499,88.209999,86.047615,166651600,0.0,0.0
42449,2020-06-10,AAPL,benzinga pros top stocks watch wed jun aapl ba...,0.500000,positive,86.974998,88.692497,86.522499,88.209999,86.047615,166651600,0.0,0.0
42456,2020-06-10,AAPL,deutsche bank maintains buy apple raises price...,0.000000,Neutral,86.974998,88.692497,86.522499,88.209999,86.047615,166651600,0.0,0.0
42463,2020-06-10,AAPL,apple let users trade mac computers credit us ...,0.000000,Neutral,86.974998,88.692497,86.522499,88.209999,86.047615,166651600,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8294845,2019-07-02,TSLA,electrekco tweet teslas head europe,0.000000,Neutral,15.259333,15.276667,14.814667,14.970000,14.970000,138885000,0.0,0.0
8294852,2019-07-01,TSLA,teslas q delivery number could cause big move,0.000000,Neutral,15.347333,15.540000,15.085333,15.144667,15.144667,123201000,0.0,0.0
8294859,2019-07-01,TSLA,tesla electric airplane elon musk sees electri...,0.000000,Neutral,15.347333,15.540000,15.085333,15.144667,15.144667,123201000,0.0,0.0
8294866,2019-07-01,TSLA,update jmp reiterates outperform target tesla ...,0.066667,positive,15.347333,15.540000,15.085333,15.144667,15.144667,123201000,0.0,0.0
8294873,2019-07-01,TSLA,tesla shares trading higher jmp securities rei...,0.250000,positive,15.347333,15.540000,15.085333,15.144667,15.144667,123201000,0.0,0.0